.Navbar {
  display: flex;
  height: 7rem;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #fff;
}

.Logo {
  flex: 1;
}

.Navigation {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}

.SearchForm {
  margin-right: 5rem;
  position: relative;
}

.SearchInput {
  font-size: 1.4rem;
  font-family: inherit;
  padding: 0.5rem;
  width: 25rem;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  transition: border .2s;
}

.SearchInput:focus {
  border-bottom: 1px solid #55AA29;
  outline: 0;
}

.btnSearch {
  background: 0;
  border: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}