.SearchForm {
  margin-right: 5rem;
  position: relative;
}

.SearchInput {
  font-size: 1.4rem;
  font-family: inherit;
  padding: 0.5rem;
  width: 25rem;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  transition: border .2s;
}

.SearchInput:focus {
  border-bottom: 1px solid #55AA29;
  outline: 0;
}

.SearchButton {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
