.title {
  font-weight: 400;
  font-size: 2.2rem;
  color: #212121;
  padding: 2rem 0 .5rem;
  line-height: 2;
}

.cast {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(162, 162, 162, 0.6);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2);
  width: 15.4rem;
}

.imageContainer {
  height: 23rem;
  overflow: hidden;
}

.castImg {
  min-height: 23rem;
}

.castNameContainer {
  height: 4rem;
  padding: 1rem 0;
  box-sizing: content-box;
}

.castName {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}

.characterName {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 1rem;
}