.MediaInfo {
  padding: 5rem 2rem;
}

.FlexContainer {
  display: flex;
  align-items: flex-start;
}

.poster {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  width: 30rem;
}

.infoContainer {
  margin-left: 5rem;
}

.title {
  font-size: 5rem;
  color: rgba(0, 0, 0, .75);
  margin-top: -1rem;
}

.overview {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem; 
  color: rgba(0, 0, 0, .9);
}

.category {
  margin-top: .5rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.9);
}

.categoryName {
  font-weight: 700;
  color: rgba(0, 0, 0, .75);
}

.subHeading {
  font-weight: 400;
  font-size: 2.2rem;
  color: #212121;
  padding: 2rem 0 .5rem;
  line-height: 2;
}

.cast {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(162, 162, 162, 0.6);
  padding-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2);
  width: 15.4rem;
}

.castImg {
  min-height: 23rem;
}

.castName {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
}

.characterName {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 1rem;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 60rem;
  margin: 5rem auto;
  text-align: center;
  padding-bottom: 5rem;
}

.trailer {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
}

.video {
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

@media (max-width: 499px) {
  .MediaInfo {
    padding: 2rem 1rem;
  }
  .FlexContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .poster {
    width: 20rem;
    align-self: center;
  }

  .infoContainer {
    margin-left: 0;
    margin-top: 3rem;
  }

  .title {
    font-size: 3rem;
  }

  .videoContainer {
    height: 30rem;
    margin-bottom: 1rem;
  }

  .video {
    width: 100%;
    height: 100%;
  }
}