.MoviesContainer {
  margin-bottom: 10rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}

.header h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.selectBox {
  margin-right: 5rem;
}

.selectBox label {
  font-size: 1.6rem;
  margin-right: 1rem;
  font-family: inherit;
}

.selectBox select {
  font-family: inherit;
  font-size: 1.6rem;
  padding: .5rem;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  background: transparent;
  min-width: 13rem;
}

.resultNotFound {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 5rem;
  color: rgba(0, 0, 0, 0.95);
}
