.NavigationItems, 
.SubNavigationItems {
  display: flex;
  list-style: none;
}

.SubNavigationItems {
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  text-align: center;
  width: 0;
  padding-top: 2rem; 
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height .4s, opacity .4s;
}

.Open {
  width: 12rem;
  height: 26rem;
  opacity: 1;
}