.Content {
  margin-top: 7rem;
  min-height: 77vh;
  position: relative;
  padding: 0 3rem;
}

@media (min-width: 500px) {
  .Toolbar {
    display: none;
  }
}

@media (max-width: 499px) {
  .Navbar {
    display: none;
  }
  .Content {
    margin-top: 7rem;
    padding: 0 1rem;
  }
}